<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">


		<!-- Page Title
		============================================= -->
		<section id="page-title">
			<div class="container clearfix">
				<h1>Contact</h1>
				<span>Get in Touch with Us</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Contact</li>
				</ol>
			</div>
		</section><!-- #page-title end -->

		<!-- Google Map
		============================================= -->
		<section class="gmap slider-parallax vh-60">
			<%- itemSetting.map %>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">
					<div class="row gutter-40 col-mb-80">
						<!-- Postcontent
						============================================= -->
						<div class="col-lg-9">
							<h3>Send us an Email</h3>
							<form class="mb-0" action="/contact/save" method="post">
								<%- locals.flash %>
									<div class="row">
										<div class="col-md-4 form-group">
											<label for="template-contactform-name">Name <small>*</small></label>
											<input required type="text" id="template-contactform-name" name="name" value=""
												class="sm-form-control " />
										</div>

										<div class="col-md-4 form-group">
											<label for="template-contactform-email">Email <small>*</small></label>
											<input required type="email" id="template-contactform-email" name="email" value=""
												class=" email sm-form-control" />
										</div>

										<div class="col-md-4 form-group">
											<label for="template-contactform-phone">Phone</label>
											<input required type="text" id="template-contactform-phone" name="phone" value=""
												class="sm-form-control " />
										</div>

										<div class="w-100"></div>

										<div class="col-md-12 form-group">
											<label for="template-contactform-subject">Subject <small>*</small></label>
											<input required type="text" id="template-contactform-subject" name="subject" value=""
												class=" sm-form-control" />
										</div>

										<div class="w-100"></div>

										<div class="col-12 form-group">
											<label for="template-contactform-message">Message <small>*</small></label>
											<textarea required class=" sm-form-control" id="template-contactform-message"
												name="message" rows="6" cols="30"></textarea>
										</div>

										<div class="col-12 form-group">
											<button class="button button-3d m-0" type="submit">Send Message</button>
										</div>
									</div>
							</form>
						</div><!-- .postcontent end -->

						<!-- Sidebar
						============================================= -->
						<div class="sidebar col-lg-3 info-contact">
							<address>
								<strong>Headquarters:</strong><br>
								795 Folsom Ave, Suite 600<br>
								San Francisco, CA 94107<br>
							</address>
							<abbr title="Phone Number"><strong>Phone:</strong></abbr> (+84) <%= itemSetting.phone %><br>
								<abbr title="Fax"><strong>Fax:</strong></abbr> (1) 11 4752 1433<br>
								<abbr title="Email Address"><strong>Email:</strong></abbr>
								<%= itemSetting.email %>

									<div class="widget border-0 pt-0">

										<a href="<%= itemSetting.media[0].facebook %>"
											class="social-icon si-small si-dark si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="<%= itemSetting.media[0].instagram %>"
											class="social-icon si-small si-dark si-instagram">
											<i class="icon-instagram"></i>
											<i class="icon-instagram"></i>
										</a>
										<a href="<%= itemSetting.media[0].tiktok %>"
											class="social-icon si-small si-dark si-tiktok">
											<i class="icon-tiktok"></i>
											<i class="icon-tiktok"></i>
										</a>
										<a href="<%= itemSetting.media[0].youtube %>"
											class="social-icon si-small si-dark si-youtube">
											<i class="icon-youtube"></i>
											<i class="icon-youtube"></i>
										</a>
										<a href="<%= itemSetting.media[0].twitter %>"
											class="social-icon si-small si-dark si-twitter">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
										</a>
									</div>
						</div><!-- .sidebar end -->
					</div>
				</div>
			</div>
		</section><!-- #content end -->
	</div><!-- #wrapper end -->
</body>

</html>