<%  
    let arrMenu = [
        {name: 'Dashboard', icon: 'fa-tachometer-alt', link: `${systemConfig.prefixAdmin}/dashboard`
        // ,menuLv2:[
        //     { name: 'Test', icon: 'far fa-circle nav-icon', link: `${systemConfig.prefixAdmin}/items/test`},
        //     { name: 'Dashboard v2', icon: 'far fa-circle nav-icon', link: `#`},
        //     { name: 'Dashboard v3', icon: 'far fa-circle nav-icon', link: `#`},]
    },
        {name: 'Items', icon: 'fa-users', link: `${systemConfig.prefixAdmin}/items`},
        {name: 'Slider', icon: 'fa-users', link: `${systemConfig.prefixAdmin}/sliders`},
        
    ];

    let xhtmlMenu = '';
    let i=0;
    arrMenu.forEach(menu => {
        i += 1;
        xhtmlMenu += `<li class="nav-item">
                    <a href="${menu.link}" class="nav-link categoryLv1" data-active="${menu.name.toLowerCase()}">
                        <i class="nav-icon fas ${menu.icon}"></i>
                        <p>${menu.name}</p>
                    </a>`;
        if (menu.menuLv2) {
            xhtmlMenu += ` <ul class="nav nav-treeview" style="display: none;">`;
            menu['menuLv2'].forEach (menu2 => {
                xhtmlMenu += `<li class="nav-item">
                    <a href="${menu2.link}" class="nav-link categoryLv2">
                    <i class="far fa-circle nav-icon"></i>
                    <p>${menu2.name}</p>
                    </a>
                </li>`;
            });
            xhtmlMenu += `</ul>`;

        }
        xhtmlMenu += `</li>`;
    });
%>

<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="adminlte/images/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Nhật Tuấn</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="adminlte/images/default-user.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Admin Nhật Tuấn</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/dashboard" class="nav-link ">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/sliders" class="nav-link ">
                        <i class="fas fa-sliders-h"></i>
                        <p>Sliders</p>
                    </a>
                </li>
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/banners" class="nav-link ">
                        <i class="far fa-image"></i>
                        <p>Banners</p>
                    </a>
                </li>
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/brands" class="nav-link ">
                        <i class="fab fa-bandcamp"></i>
                        <p>Brands</p>
                    </a>
                </li>
                <li class="nav-item menu-is-opening">
                    <a href="#" class="nav-link ">
                        <i class="fas fa-bars"></i>
                        <p>
                            Category
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin %>/menulv1" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>MenuLv1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin %>/menulv2" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>MenuLv2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin %>/menulv3" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>MenuLv3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/products" class="nav-link ">
                        <i class="fas fa-tshirt"></i>
                        <p>Products</p>
                    </a>
                </li>
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/coupons" class="nav-link ">
                        <i class="fas fa-percent"></i>
                        <p>Coupons</p>
                    </a>
                </li>
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/order-status" class="nav-link ">
                        <i class="fas fa-dolly-flatbed"></i>
                        <p>Order status</p>
                    </a>
                </li>
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/orders" class="nav-link ">
                        <i class="fas fa-shopping-bag"></i>
                        <p>Orders</p>
                    </a>
                </li>
                <li class="nav-item menu-is-opening ">
                    <a href="#" class="nav-link ">
                        <i class="fas fa-user-cog"></i>
                        <p>
                            Manage Users
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin %>/groups" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Groups</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= systemConfig.prefixAdmin %>/users" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Users</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/settings" class="nav-link ">
                        <i class="fas fa-tools"></i>
                        <p>
                            Settings
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>